<package-def>
	<class name="МенеджерХранилищаКонфигурации" file="src/Классы/МенеджерХранилищаКонфигурации.os"/>
	<class name="СписокОбъектовКонфигурации" file="src/Классы/СписокОбъектовКонфигурации.os"/>
	<class name="СоответствияНазванийВидовОбъектов" file="src/Классы/СоответствияНазванийВидовОбъектов.os"/>
</package-def>